body {
  background: #222;
  color: #fff;
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 800px;
}

header {
  margin: 1em auto;
  box-sizing: border-box;
  border-radius: 1em;
  background-image: linear-gradient(#000, #000),
    linear-gradient(45deg, #f39, #f93, #129);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: 0.5em solid transparent;
  padding: 1em 1.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  flex-grow: 1;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
  flex-wrap: wrap;
}

#symbols {
  position: absolute;
  width: 0;
  height: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: flex;
  align-items: center;
  font-size: 16px;
}

a {
  border: none;
  cursor: pointer;
  padding: 4px 16px;
  text-decoration: none;
  color: hotpink;
  font-weight: bold;
  border-radius: 8px;
}

a:hover {
  color: #000;
  background: hotpink;
}

.icon {
  display: block;
  width: 32px;
  height: 32px;
}
