@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*, *::before, *::after {
  margin: 0;
}

dialog {
  margin: auto;
}

*:focus {
  outline: 0.125em solid var(--focus-outline, currentColor);
}

*[tabindex] {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #222;
  color: #fff;
  font-family: sans-serif;
  line-height: 1.8;
  margin: 0 auto;
  min-height: 100dvh;
  flex-direction: column;
  display: flex;
}

a {
  color: deepskyblue;
  text-decoration: none;
}

button {
  cursor: pointer;
  appearance: none;
  background: transparent;
  font-family: inherit;
  line-height: inherit;
  color: currentColor;
  border: none;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'Press Start 2P', monospace;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

#symbols {
  position: absolute;
  width: 0;
  height: 0;
}

.header {
  padding: 1em 1.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__headline {
  margin: 0;
}

/********************** Top navigation *****************/


.nav {
  padding: 1rem;
  background: #000;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.nav .li--logo {
  margin: 0 auto 0 1em;
}

.nav button {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
  color: hotpink;
  font-weight: bold;
  border-radius: 8px;
}

.nav button:hover {
  color: #000;
  background: hotpink;
  text-decoration: none;
}


.icon {
  display: block;
  width: 32px;
  height: 32px;
}

.main {
  display: flex;
  flex: 1 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;

}

.char-canvas {
  display: block;
  background: #444;
}

.dialog {
  width: min(100% - 3rem, var(--container-max, 60ch));
  padding: 1rem;
  position: relative;
}

.dialog > * + *,
.dialog form > * + * {
  margin-block-start: 1em;
}

.dialog label {
  display: block;
}

.dialog .close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border: none;
  padding: 0.5rem;
}

.dialog button:not(.close) {
  background: rebeccapurple;
  color: #fff;
  font-weight: bold;
  border-radius: 0.25em;
  padding: 1em 2em;

  &:hover {
    background: deeppink;
  }

  &:active {
    background: #000;
  }
}

.dialog select {
  padding: 0.5rem;
  font-family: inherit;
}

.dialog .close svg {
  display: block;
  width: 32px;
  height: 32px;
}

.visually-hidden {
  position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
